.img-banner {
  width: 7rem;
}
.header {
}
.header__nav {
  background-color: #121618 !important;
  min-height: 7rem;

  .navbar-brand,
  .nav-link {
    color: white !important;
    font-size: 1.5rem;
  }
  .toggle-button {
    color: white !important;
  }
}
.ubication-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: black;
  .info {
    color: grey;
    width: 80%;
    margin: 0 auto;
    .info-item {
      width: 30%;
      p {
        text-align: right;
      }
    }
  }
  .social-media {
    background-color: #fac564;
  }
  .info,
  .social-media {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .d-inline {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    p {
      color: white;
      display: inline;
      margin: 0;
    }
  }
  .social-media {
    justify-content: center;
  }
}
.about-us-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .img-content {
    width: 100%;
    height: 40rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    h2 {
      color: white;
      span {
        color: #fac564;
        font-size: 3rem !important;
      }
    }
    p {
      line-height: 2;
    }
  }
}
.services-content {
  background-image: url(https://res.cloudinary.com/dbnds4vtj/image/upload/v1630593571/food_ykoa3o.png);
  padding: 5rem 0;
  text-align: center;
  .services-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    width: 60%;
    margin: 0 auto;
    .service {
      &:hover {
        .service-icon {
          transform: rotate(360deg);
          background-color: #ffc107;
          border: 1px solid #ffc107;
        }
      }
    }

    .service-icon {
      border: 1px solid #5c3d03;
      width: 20%;
      padding: 1rem 0;
      margin: 1rem auto;
      transition: all 1s ease;
    }
    p {
      color: #5c3d03;
    }
  }
}
.services-1-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  width: 60%;
  margin: 0 auto;
  .service-1 {
    &:hover {
      span {
        color: white !important;
        &::after {
          transform: rotate(45deg);
          background: yellow;
          border: 1px solid yellow;
        }
      }
    }
  }

  .service-1-icon {
    width: 20%;
    padding: 1rem 0;
    margin: 1rem auto;
    position: relative;
    z-index: 1;

    span {
      &::after {
        position: absolute;
        content: "";
        border: 1px solid #5c3d03;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.5s ease;
        z-index: -1;
      }
    }
  }
  p {
    color: #5c3d03;
  }
}
@media (max-width: 769px) {
  .ubication-content {
    display: block;
  }
  .about-us-content {
    display: block;
    .info-content {
      padding: 2rem 0;
    }
  }
  .services-items {
    display: block !important;
  }
}
