@import "components/productList";
@import "components/loading";
@import "components/tabs";
@import "components/principalScreen";
@import "components/carousel";
@import "components/basics";
@import "components/container";
@import "components/productScreen";
@import "components/shoppingScreen";
@import "components/buyScreen";
@import "components/userScreen";
@import "components/buttons";
@import "components/basics";
@import "components/plantilla";